body
    background:#eee

#timer
    margin-top:200px
    margin-left:auto
    margin-right:auto
    width:200px
    background:#eee    

.dag
    background:red
    width:200px
    padding:8px
    position: absolute;